@import "latofonts.css";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url(../images/back.jpg) no-repeat fixed 100% 100%;
  font-family: "LatoWebLight";
}

.wri-nav {
  background: black;
  position: fixed;
  top: 1em;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .nav-content {
    color: white;
    font-size: 1em;
    padding: 1em;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 90;
  }
}

.wri-card {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f7fbff+32,faf9fc+60,f4f4f4+83,f4f4f4+83,f4f4f4+93 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 1%, rgba(247,251,255,1) 32%, rgba(250,249,252,1) 60%, rgba(244,244,244,1) 83%, rgba(244,244,244,1) 83%, rgba(244,244,244,1) 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 1%,rgba(247,251,255,1) 32%,rgba(250,249,252,1) 60%,rgba(244,244,244,1) 83%,rgba(244,244,244,1) 83%,rgba(244,244,244,1) 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,255,255,1) 1%,rgba(247,251,255,1) 32%,rgba(250,249,252,1) 60%,rgba(244,244,244,1) 83%,rgba(244,244,244,1) 83%,rgba(244,244,244,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 7px;
  height: 8em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .card-left {
    border-left: 7px solid rgb(78, 209, 42);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-weight: bold;
    border-right: 1px dotted rgba(128, 128, 128, 0.253);
    height: 100%;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .card-middle {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    h4 {
      font-family: 'LatoWebSemibold';
    }
    .recap-info {
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .card-right {
    flex: .5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #6e6e6e;
    border-left: 1px dotted #80808036;
    .item {
      font-size: 1.4em;
    }
  }
}

// GLOBAL

.wri-fixed-button-add {
  position: fixed;
  bottom: 1em;
  right: 1em;
}