<nav class="wri_nav">

  <a href="#!/articles" ng-click="nav.activeTab('articles')" class="wri_nav__element">
    <i ng-class="{'wri_nav_element__active' : articles == true}" class="material-icons">description</i>
  </a>
  <a href="#!/authors" ng-click="nav.activeTab('authors')" class="wri_nav__element">
    <i ng-class="{'wri_nav_element__active' : authors == true}" class="material-icons">person</i>
  </a>
  <a href="#!/notes" ng-click="nav.activeTab('notes')" class="wri_nav__element">
    <i ng-class="{'wri_nav_element__active' : notes == true}" class="material-icons">border_color</i>
  </a>
  <a href="#!/questions" ng-click="nav.activeTab('questions')" class="wri_nav__element">
    <i ng-class="{'wri_nav_element__active' : questions == true}" class="fa fa-question" aria-hidden="true" style="font-size: 40px; margin-bottom: 5px;"></i>

  </a>

</nav>


