<div ng-include="'views/include/nav.html'" ng-controller="NavCtrl as nav"></div>
<div class="container-fluid" style="background: #eee;" >
    <div class="row wri_list" ng-hide="viewer == true">

        <div class="wri_filter"  >
            <input class="wri_filter__search col-xs-8" ng-click="searchIsActive = true" type="text" ng-model="search.name" placeholder="&#xF002; Search article name">
          <!--   <i class="material-icons wri_filter__cancel" ng-show="search.name.length > 0" ng-click="article.cancelSearch(search.name)">close</i> -->

        </div>

       <!--  <div class="wri_filter" ng-class="{'activeFilter' : searchIsActive == true}" >
            <input class="wri_filter__search col-xs-8" ng-click="searchIsActive = true" type="text" ng-model="search.name" placeholder="&#xF002; Search article name">
            <i class="material-icons wri_filter__cancel" ng-show="search.name.length > 0" ng-tap="article.cancelSearch()">close</i> 

        </div>
        <div ng-show="searchIsActive == true" class="wri_filter__secondary article_filter">
            <input class="wri_filter__secondary__input" ng-model="search.authors"  type="text" placeholder="authors">   
            <input class="wri_filter__secondary__input" ng-model="search.score" type="text" placeholder="score">
            <input class="wri_filter__secondary__input" ng-model="search.keywords"  type="text" placeholder="keywords">
            <input class="wri_filter__secondary__input" ng-model="search.references"  type="text" placeholder="references">
            <input class="wri_filter__secondary__input" ng-model="search.notes"  type="text" placeholder="notes">
            <i class="material-icons wri_filter__secondary__hide " ng-click="searchIsActive = false">vertical_align_top</i>
        </div>  -->





        <div class="wri-card col-sm row" ng-repeat="art in article.articles  | filter: search"  ng-click="article.openViewer(art); " >
            <div class="article card-left" ng-show="art.publishedDate">
                <h3>{{art.publishedDate | date : 'dd'}}</h3>
                <span>{{art.publishedDate | date : 'MMM'}}</span>
                <span>{{art.publishedDate | date : 'yyyy'}}</span>
            </div>
            <div class="article article_no-date card-left " ng-show="!art.publishedDate">
                /
            </div>
            <div class="card-middle">
                <h4>{{art.name}}</h4>
                <div ng-repeat="author in art.authors">
                    <span>{{author.name}}</span>
                </div>
            </div>
            <div class="card-right">
                <div>
                    <i ng-class="{'true-state' : art.isRead == true}" class="material-icons item">visibility</i>
                    </div>
                <div>
                    <i ng-class="{'true-state' : art.isSaved == true}" class="material-icons item">save</i>
                    </div>
                <div>
                    <i ng-class="{'true-state' : art.isPrinted == true}" class="material-icons item">print</i>
                    </div>
            </div>

        </div>
    </div>
    <div class="wri_viewer" ng-if="viewer == true">
        <div style="margin-bottom: 100px;">
            <span class="pull-right" ng-click="article.closeViewer()"><i class="material-icons wri_viewer__close" style="margin: 8px">close</i></span>  

            <div class="wri_viewer__content">
                <div class="wri_viewer__content__article">
                    
                    <h2 class="wri_viewer__content__article__header">{{article.currentArticle.name}}</h2>
                    <div class="">
                        <span><strong>Conférence : </strong></span><span>{{article.currentArticle.conference}}</span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Date de publication : </strong></span><span>{{article.currentArticle.publishedDate | date :'dd/MM/yyyy'}}</span>
                    </div>

                    <hr>

                    <div class="">
                        <span>
                            <strong>Statut : </strong>
                        </span>
                        <span ng-if="article.currentArticle.isRead == true">Read</span>
                        <span ng-if="article.currentArticle.isSaved == true">Saved</span> 
                        <span ng-if="article.currentArticle.isPrinted == true">Printed</span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Problématique : </strong></span><span ng-bind-html="article.currentArticle.problematic"></span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Solution : </strong></span><span ng-bind-html="article.currentArticle.solution"></span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Abstract : </strong></span><span ng-bind-html="article.currentArticle.abstract"></span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Auteurs : </strong></span>
                        <span ng-repeat="authors in article.currentArticle.authors">
                            <span ng-if="!$last">{{authors.name}} / </span>
                            <span ng-if="$last">{{authors.name}}.</span>
                        </span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Keywords : </strong></span>
                        <span ng-repeat="keyword in article.currentArticle.keywords">
                            <span ng-if="!$last">#{{keyword}} / </span>
                            <span ng-if="$last">#{{keyword}}.</span>
                        </span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Références : </strong></span>
                        <span ng-repeat="ref in article.currentArticle.references">
                            <span ng-if="!$last">{{ref.name}} / </span>
                            <span ng-if="$last">{{ref.name}}.</span>
                        </span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Notes : </strong></span><br><br>
                        <span ng-repeat="note in article.currentArticle.notes">
                            <span ng-if="!$last" ng-if="note.length > 15" ng-bind-html="note.text">/</span>
                            <span ng-if="$last" ng-bind-html="note.text">.</span>
                        </span>
                    </div>

                    <hr>

                    <div class="">
                        <span><strong>Questions : </strong></span><br><br>
                        <span ng-repeat="question in article.currentArticle.questions">
                            <span ng-bind-html="question.problematic">  </span>
                            <span ng-bind-html="question.answer"> </span>
                            <br><br>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>