<div class="wri_login">

    <div class="wri_login__box">

        <div class="wri_login__box__title">
            <h3 class="mdl-card__title-text">Web Research Interface</h3>
        </div>

        <div class="wri_login__box__connection">
            <form ng-submit="login.handleRequest($event)">
                <div class="wri_form__textfield mdl-textfield mdl-js-textfield">
                    <input placeholder="Email" class="mdl-textfield__input" type="text" id="username" ng-model="login.email"/>
                    <label class="mdl-textfield__label" for="username"></label>
                </div>

                <div class="wri_form__textfield mdl-textfield mdl-js-textfield">
                    <input placeholder="Password" class="mdl-textfield__input" type="password" id="userpass" ng-model="login.password"/>
                    <label class="mdl-textfield__label" for="userpass"></label>
                </div>

                <button class="wri_login__box__connection__login" type="submit">Log in</button>
            </form>
        </div>

        <div class="mdl-card__actions mdl-card--border" ng-if="login.notifError" style="color: red">
          Unable to authenticate the user, please try again.
        </div>

    </div>

</div>
